.card-container {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.audition-item-card {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* .card:nth-child(odd) {
  border: 10px solid RGB(255, 158, 110);

  RGB(255, 158, 110)
  RGB(212, 187, 227)
  RGB(155, 208, 176)
  RGB(190, 229, 239)
  RGB(248, 224, 138)
}

.card:nth-child(even) {
  border: 10px solid RGB(212, 187, 227);
} */
