@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Poppins:wght@300&family=Satisfy&family=Tiro+Gurmukhi&display=swap');

.easy-audition-title {
  font-family: 'Satisfy';
  font-size: 2em;
}

.about-container {
  padding: 20px;
  text-align: center;
}

.about-card-text {
  background-color: RGB(181, 196, 158);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.github-link-container {
  border: none;
}

.github-link {
  margin-left: 100px;
  margin-right: 100px;
  padding-bottom: 5px;
}
