#audition-complete-switch {
  float: none;
}

#callback-switch {
  float: none;
}

#booked-switch {
  float: none;
}

.form-card-container {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.audition-form-card {
  border: 10px solid RGB(212, 187, 227);
  background-color: RGB(212, 187, 227);
}

.audition-form-accordion {
  border: 10px solid RGB(155, 208, 176);
  background-color: RGB(155, 208, 176);
}

.accordion-group {
  border: none;
}
