@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Poppins:wght@300&family=Satisfy&family=Tiro+Gurmukhi&display=swap');

.easy-audition-title {
  font-family: 'Satisfy';
  font-size: 2em;
}

.info-container {
  padding: 20px;
  text-align: center;
}

.info-card-text {
  background-color: RGB(181, 196, 158);
  border: none;
}

ul {
  list-style: none;
}